<script>
  import gazefilter from "gazefilter";
  import { Gazefilter, Tracker, Recorder } from "svelte-gazefilter";

  import Visualizer from "./Visualizer.svelte";

  const recordingParams = {
    filter: {
      bufferSize: 100,
    },
  }

  function oninit() {
    console.debug("gazefilter initialized");
  }

  function onprogress(event) {
    console.debug("gazefilter initilization progress: ", event.detail);
  }
</script>

<main>
  <h1>Gazefilter example</h1>

  <p>
    Visit the
    <a href="https://svelte.dev/tutorial">Svelte tutorial</a>
    to learn how to build Svelte apps.
  </p>

  <Gazefilter {gazefilter}
    on:init={oninit}
    on:progress={onprogress}
    >
      gazefilter initialized

      <Tracker
        let:toggleConnect
        let:togglePause
        let:paused
        let:device
        let:calib>

        <div slot="connected">
          <Visualizer />

          <p>device: {device.label}</p>
          <p>paused: {paused}</p>
          <p>calib error: {calib.error}</p>

          <button on:click={togglePause}>
            {#if paused}
              resume
            {:else}
              pause
            {/if}
          </button>
          <button on:click={() => toggleConnect(false)}>disconnect</button>

          <Recorder let:start let:stop on:batch={console.log} on:stop={console.log}>
            <div slot="idle">
              <button on:click={() => start(recordingParams)}>record</button>
            </div>

            <div slot="recording">
              <button on:click={stop}>stop</button>
            </div>
          </Recorder>

        </div>

        <div slot="connecting">
          connecting...
        </div>

        <div slot="disposed">
          <p>no device connected</p>
          <button on:click={toggleConnect}>connect</button>
        </div>

      </Tracker>

      <div slot="init" let:init>
        {#if init.stage == "download"}
          loading: {init.loaded} / {init.total}
        {/if}
      </div>

      <div slot="fallback" let:error>
        {error.message}
      </div>
  </Gazefilter>

</main>

<style>
  main {
    text-align: center;
    padding: 1em;
    max-width: 240px;
    margin: 0 auto;
  }

  h1 {
    color: #ff3e00;
    font-size: 4em;
    font-weight: 100;
  }

  @media (min-width: 640px) {
    main {
      max-width: none;
    }
  }
</style>
