<script>
  import { onMount, onDestroy } from "svelte";

  import { getGazefilterContext } from "svelte-gazefilter";

  const { visualizer } = getGazefilterContext();

  let element;

  onMount(() => {
    visualizer.setCanvas(element);
  });

  onDestroy(() => {
    visualizer.removeCanvas();
  });
</script>

<style>
  canvas {
    border-radius: 5px;
    transform: scaleX(-1);
    background-color: black;
  }
</style>

<canvas width=640 height=480 bind:this={element} />
