<script>
  import { onMount, createEventDispatcher } from "svelte";

  import { getGazefilterContext, setGazefilterContext } from "./ctx";
  import { initStore } from "./stores";

  export let gazefilter;
  export let wasmURL = './gazefilter.wasm';

  const dispatch = createEventDispatcher();

  gazefilter = gazefilter
    || getGazefilterContext()
    || (window && window.gazefilter);

  if (!gazefilter) {
    throw Error(
      `No gazefilter was provided. `
      `You must provide an gazefilter module or make it available globally.`
    );
  }

  setGazefilterContext(gazefilter);

  function oninit({ total, loaded, stage }) {
    switch (stage) {
      case "ready":
        dispatch("init");
        break;
      case "download":
        dispatch("progress", { total, loaded, stage });
        break;
      case "get":
        dispatch("progress", { total, stage });
        break;
      default:
        dispatch("progress", { stage });
        break;
    }
  }

  onMount(() => {
    return initStore.subscribe(oninit);
  });
</script>

<slot name="before" />

{#await initStore.init(wasmURL)}
  <slot name="init" init={$initStore} />
{:then}
  <slot />
{:catch error}
  <slot name="fallback" error={error} />
{/await}

<slot name="after" />
