<script context="module">
  let counter = 0;
  let locked = false;
</script>

<script>
  import { onMount, onDestroy, createEventDispatcher } from "svelte";

  import { getGazefilterContext } from "./ctx";

  const dispatch = createEventDispatcher();

  const { recorder } = getGazefilterContext();

  let isRecording = recorder.isActive();
  let isLocked = false;

  function updateRecordingStatus() {
    isRecording = recorder.isActive();
  }

  async function runLocked(func) {
    if (locked) throw new Error("recorder already in progress");

    locked = true;
    isLocked = true;
    try {
      return await func();
    } finally {
      locked = false;
      isLocked = false;
    }
  }

  async function _start(params = {}) {
    const data = await recorder.start(
      params,
      (type, blob) => dispatch("batch", { type, blob })
    );
    updateRecordingStatus();

    dispatch("start", data);
    return data;
  }

  async function start(params = {}) {
    return await runLocked(() => _start(params));
  }

  async function _stop() {
    const result = await recorder.stop();
    updateRecordingStatus();
    dispatch("stop", result);
    return result;
  }

  async function stop() {
    return await runLocked(_stop);
  }

  function push(timestamp, source, type, data) {
    recorder.pushEvent(timestamp, source, type, data);
  }

  onMount(() => {
    counter++;
  });

  onDestroy(async () => {
    // stop recording if last component was destroyed
    if ((--counter) <= 0) {
      if (isRecording && !locked) await stop();
      counter = 0;
    }
  });
</script>

<slot name="before" />

<slot {start} {stop} {push} active={isRecording} />

{#if isRecording}
  <slot name="recording" />
{:else if isLocked}
  <slot name="loading" />
{:else}
  <slot name="idle" />
{/if}

<slot name="after" />
