<script context="module">
  let counter = 0;
  let locked = false;
</script>

<script>
  import { onMount, onDestroy, createEventDispatcher } from "svelte";

  import { getGazefilterContext } from "./ctx";
  import { pauseStore, deviceStore, calibStore }  from "./stores";

  const dispatch = createEventDispatcher();

  const { tracker } = getGazefilterContext();

  let connecting = false;

  async function toggleConnect(value) {
    if (locked) throw new Error("Connection in progress.");
    locked = true;
    connecting = true;
    try {
      if ((!!value === value) ? value : !$deviceStore) {
        if ($deviceStore) await tracker.dispose();
        await tracker.connect(typeof value === "string" ? value : undefined);
      }
      else await tracker.dispose();
    } finally {
      connecting = false;
      locked = false;
    }
  }

  async function togglePause(value) {
    if (value !== $pauseStore) tracker.toggle();
  }

  function oncalib(response) {
    dispatch("calib", { response });
  }

  function onchange(device) {
    dispatch("change", { device });
  }

  function onpause(paused) {
    dispatch("pause", { paused });
  }

  const unsubscribes = [
    pauseStore.subscribe(onpause),
    deviceStore.subscribe(onchange),
    calibStore.subscribe(oncalib),
  ];

  onMount(() => {
    counter++;
  });

  onDestroy(async () => {
    unsubscribes.forEach(unsubscribe => unsubscribe());

    // disconnect tracker if last component was destroyed
    if ((--counter) <= 0) {
      if (tracker.videoElement()) await tracker.dispose();
      counter = 0;
    }
  });

</script>

<slot name="before" />

<slot
  {toggleConnect}
  {togglePause}
  paused={$pauseStore}
  device={$deviceStore}
  calib={$calibStore} />

{#if connecting}
  <slot name="connecting" />
{:else if $deviceStore}
  <slot name="connected" />
{:else}
  <slot name="disposed" />
{/if}

<slot name="after" />
